.help-block {
    background-color: #f36270;
    color: #fff;
    padding: 1px 5px 5px 5px;
    font-size: 12px;
    width: 100%;
    position: relative;
    height: 20px;
    display: block;
    margin: 0px;
    font-weight: 900;
}
.navbar-custom {
    background: linear-gradient(to top, #5d6dc3, #3c86d8);
    border-radius: 0;
    margin-bottom: 0;
    padding: 0 10px 0 0;
    margin-left: 240px;
    min-height: 50px;
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.3);
}
.topbar .topbar-left {
    background: linear-gradient(to top, #5d6dc3, #3c86d8);
    box-shadow: -12px 0px 18px 0 rgba(0, 0, 0, 0.3);
    float: left;
    text-align: center;
    height: 50px;
    position: relative;
    width: 240px;
    z-index: 1;
}
.navbar-custom .nav-link {
    line-height: 50px;
    color: rgba(255, 255, 255, 0.6);
}
.enlarged #wrapper .topbar .topbar-left .logo i {
    line-height: 50px;
    color: #3c86d8;
}
.content-page .content {
    padding: 0 10px;
    margin-top: 50px;
}
.side-menu {
    width: 240px;
    z-index: 10;
    background: #ffffff;
    bottom: 0;
    margin-top: 0;
    padding-bottom: 30px;
    position: fixed;
    top: 50px;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
}
.button-menu-mobile {
    border: none;
    color: #ffffff;
    height: 50px;
    width: 60px;
    background-color: transparent;
    font-size: 16px;
}
@media (max-width: 768px) {
    .topbar-left i {
        display: block !important;
        line-height: 50px;
    }
}
.topbar .topbar-left .logo {
    line-height: 50px;
}
.footer {
    border-top: 1px solid rgba(152, 166, 173, 0.2);
    bottom: 0;
    text-align: left !important;
    padding: 10px 20px 10px;
    position: absolute;
    right: 0;
    left: 240px;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 5px 5px;
}
table.dataTable thead .sorting::before, table.dataTable thead .sorting::after, table.dataTable thead .sorting_asc::before, table.dataTable thead .sorting_asc::after, table.dataTable thead .sorting_desc::before, table.dataTable thead .sorting_desc::after, table.dataTable thead .sorting_asc_disabled::before, table.dataTable thead .sorting_asc_disabled::after, table.dataTable thead .sorting_desc_disabled::before, table.dataTable thead .sorting_desc_disabled::after {
    position: absolute;
    bottom: 0.3em;
    display: block;
    opacity: 0.3;
}
table.dataTable {
    border-collapse: collapse !important;
}
div.dataTables_wrapper div.dataTables_filter input {
    margin-left: 0.5em;
    display: inline-block;
    width: auto;
    height: 30px;
}
div.dataTables_wrapper div.dataTables_filter {
    text-align: left;
    display: inline-block;
    float: right;
}
#dataTableBuilder_length{
    display: inline-block;
}
div.dataTables_wrapper div.dataTables_info {
    padding-top: 0.85em;
    white-space: nowrap;
    display: inline-block;
}
div.dataTables_wrapper div.dataTables_paginate {
    margin: 0;
    white-space: nowrap;
    text-align: center;
    display: inline-block;
    float: right;
}
tfoot{
    display: none !important;
}
.breadcrumb a {
    color: #3c3c3c;
    font-weight: 600;
}
.tableAvatar {
    display: block;
    position: relative;
    margin: 0 auto;
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.5);
    padding: 2px;
}
table.dataTable {
    border-collapse: collapse !important;
    width: 100% !important;
    overflow: auto;
    position: relative;
    display: block;
}

.basic-elements{
    margin-top: 100px;
    position: relative;
    display: block;
}
.settingsMenu li {
     padding: 1px 5px;
     width: 100%;
}
.settingsMenu li:hover{
    background-color: rgba(189,189,189 ,1);
    cursor: pointer;
}
.settingsMenu li:hover a{
    color: #fff;
}
.bg-success {
    background-color: #3ec396 !important;
    color: #fff !important;
}
.bg-accpunt-pages{
    background: linear-gradient(43deg, #381760, #21053c, #381760);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 13s ease infinite;
    -moz-animation: AnimationName 13s ease infinite;
    -o-animation: AnimationName 13s ease infinite;
    animation: AnimationName 13s ease infinite;
}
.topbar .topbar-left, .navbar-custom, .tilebox-one i{
    background: #C33764;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
@-webkit-keyframes AnimationName {
    0%{background-position:92% 0%}
    50%{background-position:9% 100%}
    100%{background-position:92% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:92% 0%}
    50%{background-position:9% 100%}
    100%{background-position:92% 0%}
}
@-o-keyframes AnimationName {
    0%{background-position:92% 0%}
    50%{background-position:9% 100%}
    100%{background-position:92% 0%}
}
@keyframes AnimationName {
    0%{background-position:92% 0%}
    50%{background-position:9% 100%}
    100%{background-position:92% 0%}
}
.navbar-custom .nav-link {
    line-height: 50px;
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: 15px;
}
#image_preview i {
    z-index: 99;
    position: relative;
    display: block;
    width: 100%;
    float: none;
    margin: 0 auto;
    top: 30px !important;
    left: 100px;
    color: #999;
}

#image_preview .admin_pencil {
    left: 200px;
}

.enlarged{
    min-height: auto !important;
}
.setting-ul-li-a{
    display: block;
    padding: 0px;
    margin: 0px;
}
@media only screen and (max-width: 320px) {
    .dataTables_filter label {
        font-size: 10px;
    }

}
